---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro now.">
	<div class="menu">
		<a href="/">Home</a>
		<a href="/config/">Config</a>
		<a href="/blog/">Blog</a>
	</div>
	<div>
		<ul>
			<li>
				<a href="/posts/post-1/">POST 1</a>
				<a href="/posts/post-2/">POST 2</a>
				<a href="/posts/post-3/">POST 3</a>
			</li>
		</ul>
	</div>
</Layout>
